<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <!-- Application Endpoint -->
      <endpoint name="ChatEndpoint"
                contract="Chatter.IChatContract"
                binding="netTcpRelayBinding"/>
    </client>

    <services>
      <!-- Application Service -->
      <service name="Chatter.ChatService">
        <endpoint contract="Chatter.IChatContract"
                  binding="netTcpRelayBinding" />
      </service>
    </services>
  </system.serviceModel>
</configuration>